# Build directories
build/
asm/

results*/
*output*/
*logs*/

# Compiled files
*.o
*.so
*.a
*.exe
*.out
hnsw_search_sifive

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Data files
data/

# Log files
*.log

# Temporary files
*.tmp
*.temp
